project:
  type: website
  output-dir: docs 

website:
  title: "O que vou descobrindo em estatística, ciência de dados e matemática"
  navbar:
    right:
      - about.qmd
      - icon: github
        href: https://github.com/lasilva0
format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css


